//colors
$_white: #FFFFFF;
$_black: #2D3033;
$_red: #FF4343;
$_grey: #656980;
$_lightGrey: #808080;

//font-size
$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;

//border

// $_border: 5px solid $_red;

